/* =========================
   TRANSACTION PAGE
========================= */

.transactions-page {
  width: 100%;
  min-height: 100%;
  padding: 20px 24px 20px;
  box-sizing: border-box;
}

/* =========================
   HEADER
========================= */

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 26px;
}

.transactions-header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #171625;
}

.transactions-header p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #9290a4;
}

.transactions-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transaction-search {
  width: 250px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 14px;
  border: 1px solid #e2e0eb;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
}

.transaction-search svg {
  color: #9997aa;
}

.transaction-search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  color: #272536;
}

.transaction-search input::placeholder {
  color: #aaa8b8;
}

.icon-button {
  width: 42px;
  height: 42px;
  border: 1px solid #e2e0eb;
  border-radius: 10px;
  background: #ffffff;
  color: #777589;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}